VITE_FIREBASE_API_KEY="AIzaSyAUcBnYtea65Mq_S1RDVvpyUI4ym6whaqo"
VITE_FIREBASE_AUTH_DOMAIN="elderguard-53434.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="elderguard-53434"
VITE_FIREBASE_STORAGE_BUCKET="elderguard-53434.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="623000067522"
VITE_FIREBASE_APP_ID="1:623000067522:web:fd006be46578daff9b8a5b"
VITE_FIREBASE_MEASUREMENT_ID="G-ZFXKNT1PT6"
